<h1>Listing resolutions</h1>

<table>
  <tr>
    <th align="left">Resolution</th>
    <th align="left" style="padding-left:10px;">Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resolutions.each do |resolution| %>
  <tr>
    <td width="400px"><%= resolution.resolution %></td>
    <td style="padding-left:10px;color:#a1a1a1;"><%= resolution.created_at %></td>
    <td style="padding-left:10px;"><%= link_to 'Show', resolution %></td>
    <td style="padding-left:10px;"><%= link_to 'Edit', edit_resolution_path(resolution) %></td>
    <td style="padding-left:10px;"><%= link_to 'Destroy', resolution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resolution', new_resolution_path %>
